@import "partials"

a
  &:hover
    text-decoration: none
    color: darken($blue, 5%)

html,
body
  height: 100%
  min-width: 320px

h1,
h2
  font-weight: 400

button
  cursor: pointer

.btn-outline-primary
  text-transform: uppercase
  font-size: .75rem
  padding: 8px 20px
  letter-spacing: .1rem
  background: rgba($white, .2)
  &.light-hover
    &:hover
      background: $gray-100
      border-color: $green
  +media-breakpoint-up(md)
    font-size: .9rem
    padding: 10px 40px

.btn-lg-rounded
  width: 100%
  max-width: 400px
  padding: 20px 20px
  border-radius: 40px
  text-transform: uppercase
  letter-spacing: .1rem