@import "partials"

.form-container
  padding: 50px
  box-shadow: 0 8px 40px rgba($black, 0.5)
  margin-top: 60px
  width: 70%
  margin-left: auto
  margin-right: auto

.field-label
  color: $blue

.field
  border: 0
  border-bottom: 2px solid $blue
  &:focus
    box-shadow: none
