@import "partials"

.form-container
  +box-shadow
  padding: 30px 15px
  margin-top: 30px
  margin-left: -15px
  margin-right: -15px
  .form-group > .field-label
    color: $blue
    text-align: left

  .form-checkboxes
    text-align: left

  .form-control
    border: 0
    border-bottom: 2px solid $blue
    &:focus
      box-shadow: none
      border-color: $green
  +media-breakpoint-up(md)
    box-shadow: 0 8px 40px rgba($black, 0.5)
    width: 70%
    margin-top: 60px
    padding: 50px
    margin-left: auto
    margin-right: auto

