<div class="container-fluid my-5 text-center general-text">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <h2>{% block header %}{% endblock %}</h2>
      {% block text %}{% endblock %}
    </div>
  </div>
</div>