{% extends 'base.html.twig' %}

{% block body %}
  {% include '_hero.html.twig' with {
    header: 'Be part of the change!'
  } %}
  {% embed '_generalText.html.twig' %}
    {% block header %}
      About Action 4 Malawi
    {% endblock %}
    {% block text %}
      <p>Action4Malawi is a network dedicated to bridging far flung communities from Malawi, to Europe and North America.</p>
      <p>Modern technology allows us to interact with people living thousands of miles away. This means we can share our experiences – moments of joy and need – and also our resources: educational, cultural or financial.</p>
      <p>Born in September 2017 of a ten-year friendship between a Malawian community organiser and a London filmmaker, Action4Malawi has two central aims: to bring the joyful spirit from the warm heart of Africa to a seemingly agitated West, and to offer experience and resources to a country gradually climbing out of severe poverty.</p>
      <p>We will start small, focussing on the deep need for school facilities in a village in central Malawi that is off the grid, meaning that there is no electricity or running water there. In November 2017 we laid the foundations for a dormitory for school-children whose 2 hour+ walking commute could probably  be better spent in the classroom or at least with their classmates and their teachers.</p>
      <p>Participants in Malawi will report on their experiences of living in a profoundly interconnected and happy society and proactively contribute to pollution reduction initiatives. Contributors in the US and Europe may offer time (volunteering), experience (construction, teaching etc.), or useful connections. The spirit of Action4Malawi is founded on building lasting even if distant sharing relationships.</p>
      <p>Thank you all.</p>
    {% endblock %}
  {% endembed %}
{% endblock %}
