{% extends 'base.html.twig' %}

{% block body %}
  {% include '_hero.html.twig' with {
    header: 'Be part of the change!'
  } %}
  {% embed '_generalText.html.twig' %}
    {% block header %}
      Contact Action4Malawi
    {% endblock %}
    {% block text %}
      <p>Feel free to get in touch with us. If you would like to volunteer, suggest a project, or something else you can visit the register page.</p>
      <hr/>
      <h3>Malawi</h3>
      <p>If you would like a direct contact in Malawi please contact Anthony Weston by email</p><a class="btn btn-outline-primary" role="button" href="mailto:aw@action4malawi.com">aw@action4malawi.com </a>
      <hr/>
      <h3>Rest of the world</h3>
      <p>If you would like a direct contact at Action4Malawi about anything else please contact Anthony Haden-West </p><a class="btn btn-outline-primary" role="button" href="mailto:ahw@action4malawi.com">ahw@action4malawi.com</a>
    {% endblock %}
  {% endembed %}
{% endblock %}
