{% extends 'base.html.twig' %}

{% block body %}
  {% include '_hero.html.twig' with {
    header: 'Be part of the change!'
  } %}
  {% embed '_generalText.html.twig' %}
    {% block header %}
      Action 4 Malawi Partners
    {% endblock %}
    {% block text %}
      {{ page_content('partners') }}

      <a class="btn btn-outline-primary light-hover mt-3" role="button" href="http://action4london.com" target="_blank" rel="noopener">
        <img src="{{ asset('images/btnPartners.png') }}" class="btn-partners" />
      </a>
    {% endblock %}
  {% endembed %}
{% endblock %}
