{% extends 'base.html.twig' %}

{% block body %}
  {% set hero_extra %}
    <p>We'll be in touch as soon as we have a placement for you</p>
  {% endset %}
  {% include '_hero.html.twig' with {
  header: 'Thank you for registering!'
  } %}
{% endblock %}
