{% extends 'base.html.twig' %}

{% block body %}
  {% set hero_extra %}
    <p>We appreciate your project suggestion and will respond as soon as we can.</p>
  {% endset %}
  {% include '_hero.html.twig' with {
  header: 'Thank you for your suggestion!'
  } %}
{% endblock %}
