{% extends 'base.html.twig' %}

{% block body %}
  {% include '_hero.html.twig' with {
    header: 'Be part of the change!'
  } %}
  {% embed '_generalText.html.twig' %}
    {% block header %}
      Volunteer with Action 4 Malawi
    {% endblock %}
    {% block text %}
      <p>Action4Malawi was launched in 2017 as a result of the long term friendship between a leading community organiser in Malawi and a documentary filmmaker in Los Angeles.</p>
      <p>We believe that A4M’s volunteers will share the common understanding that when we volunteer, it is a merit. Volunteering is a gift shared rather than a gift given.</p>
      <p>&nbsp;</p>
      <h4>Why is this so important?</h4>
      <p>When we share our time we overcome our own selfish desires, we extricate ourselves from our bound-up lives and we connect on a deeper level to the world around us; we constantly experience new opportunities to overcome and grow. As such, A4M volunteers deepen care and consideration for the world far beyond their own specific experience.</p>
      <a class="btn btn-outline-primary mt-3" role="button" href="{{ path('register') }}">
        Register Today
      </a>
    {% endblock %}
  {% endembed %}
{% endblock %}
