{% extends 'base.html.twig' %}

{% block body %}
  {% include '_hero.html.twig' with {
    header: 'Be part of the change!'
  } %}
  {% embed '_generalText.html.twig' %}
    {% block header %}
      Volunteer with Action 4 Malawi
    {% endblock %}
    {% block text %}
      {{ page_content('volunteering') }}
      <a class="btn btn-outline-primary mt-3" role="button" href="{{ path('register') }}">
        Register Today
      </a>
    {% endblock %}
  {% endembed %}
{% endblock %}
